<% # Include page-specific CSS %>
<% content_for :css do %>
  <%= stylesheet_link_tag "movies", "data-turbo-track": "reload" %>
<% end %>

<h1 class="moves-title">View Movies</h1>
<table>
  <thead>
    <tr>
      <th class="table-header">
        <%= link_to movies_path(sort: "title", direction: toggle_direction("title")), class: "sort-button" do %>
          Title <%= sort_arrow("title") %>
        <% end %>
      </th>
      <th>
        <%= link_to movies_path(sort: "rating", direction: toggle_direction("rating")), class: "sort-button" do %>
          Rating <%= sort_arrow("rating") %>
        <% end %>
      </th>
      <th>
        Description
      </th>
      <th>
        <%= link_to movies_path(sort: "release_date", direction: toggle_direction("release_date")), class: "sort-button" do %>
          Release Date <%= sort_arrow("release_date") %>
        <% end %>
      </th>
      <th>
        More Info
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, i| %>
      <tr class="<%= i.even? ? 'tr-even' : 'tr-odd' %>">
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr> 
      <td colspan="5"> <%= link_to "Add New Movie", new_movie_path, class: "add-movie-button" %> </td>
    </tr>
  </tfoot>
</table>
