<% # Include page-specific CSS %>
<% content_for :css do %>
  <%= stylesheet_link_tag "movies", "data-turbo-track": "reload" %>
<% end %>
<div class="movies-background"></div>
<p class="site-header">rottenpotatoes</p>
<p class="movies-title">View Movies</p>
<table>
  <thead>
    <tr>
      <th>
        <%= link_to movies_path(sort: "title", direction: toggle_direction("title")), class: "sort-button" do %>
          Title <%= sort_arrow("title") %>
        <% end %>
      </th>
      <th>
        <%= link_to movies_path(sort: "rating", direction: toggle_direction("rating")), class: "sort-button" do %>
          Rating <%= sort_arrow("rating") %>
        <% end %>
      </th>
      <th>
        Description
      </th>
      <th>
        <%= link_to movies_path(sort: "release_date", direction: toggle_direction("release_date")), class: "sort-button" do %>
          Release Date <%= sort_arrow("release_date") %>
        <% end %>
      </th>
      <th>
        More Info
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, i| %>
      <tr class="<%= i.even? ? 'tr-even' : 'tr-odd' %>">
        <td class="<%= sort_column == 'title' ? (sort_direction == 'asc' ? 'sorted-asc' : 'sorted-desc') : ''%> table-movie-titles">
          <%= movie.title %>
        </td>
        <td class="<%= sort_column == 'rating' ? (sort_direction == 'asc' ? 'sorted-asc table-sorted' : 'sorted-desc table-sorted') : ''%>"><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td class="<%= sort_column == 'release_date' ? (sort_direction == 'asc' ? 'sorted-asc table-sorted' : 'sorted-desc table-sorted') : ''%>"><%= movie.release_date.strftime("%m-%d-%Y") %></td>
        <td><%= link_to "View", movie, class: "show-movie-button" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr> 
      <td colspan="5"> <%= link_to "+ Add New Movie", new_movie_path, class: "add-movie-button" %> </td>
    </tr>
  </tfoot>
</table>
